<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trang chủ</title>
        <link rel="shortcut icon" href="../Public/image/logo-title.png" type="image/x-icon">
        <link rel="stylesheet" href="../Public/css/style.css">
        <link rel="stylesheet" href="../Public/css/intro.css">
        <link rel="stylesheet" href="../Public/css/product.css">
        <link rel="stylesheet" href="../Public/css/product_detail.css">
        <link rel="stylesheet" href="css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../Public/font/fontawesome-free-6.3.0-web/css/all.min.css">
    
    </head>
<body>
    <div id="container">
        
        <div id="header">
            <div class="image_logo">
                <a href=""><img src="image/store-giay.png" alt="" id="logo"></a>  
            </div>
                
            <ul id="menu-categories-1">
                <li><a href="index.html">TRANG CHỦ</a></li>
                <li><a href="product.html">GIÀY</a></li>
                <li><a href="">CONVERSE</a></li>
                <li><a href="">VANS</a></li>
                <li><a href="">HOT PRODUCT</a></li>
                <li><a href="intro.html">ABOUT US</a></li>
            </ul>
                                       
        </div> 
        <div class="icon-menu">
            <!-- <input type="text" id="search_bar"> -->
            <a href=""></a><i class="fa-sharp fa-solid fa-magnifying-glass" style="color: white;"></i></a>
            <a href=""><i class="fa-regular fa-heart" style="color: white;"></i></a>
            <a href="cart.html"><i class="fa-sharp fa-solid fa-cart-shopping" style="color: white;"></i></a>
            <a href="cart.html" id="price">0/0đ</a>
        </div>
    </div>
    <div class="row">
        <div class="service col-3" id="col-3-1">HÀNG CÓ SẴN CHÍNH HÃNG</div>
        <div class="service col-3" id="col-3-2">ĐỔI TRẢ LINH HOẠT</div>
        <div class="service col-3" id="col-3-3">SHIP TOÀN QUỐC</div>
    </div>
    <!-- Tiêu đề 1 -->
    <h4 id="title-2">ABOUT US</h4>

    <div class="row">
        <div class="" id="content_intro">
            <div class="content">
                Nổi tiếng bởi kiểu dáng đặc trưng cùng những thiết kế ấn tượng, Converse có được độ phổ biến như ngày hôm nay 
                còn nhờ vào hệ thống phân phối rộng khắp, có mặt tại nhiều quốc gia, tại các thành phố lớn. Với những tín đồ của hãng
                 giày bóng rổ thì cửa hàng giày Converse chính là địa điểm lý thú mà các bạn thường xuyên ghé qua, nhất là mỗi 
                 khi hãng công bố thiết kế mới. Nếu đang tìm cho mình một không gian mua sắm thoải mái với những mẫu 
                giày sành điệu, hiện đại nhất, bạn có thể tham khảo qua cửa hàng giày Converse thuộc hệ thống Conversestore nhé.
            </div>
            <img id="img_intro" src="../Public/image/image_intro1.jpg" alt="">
            <div class="content">
                Trang web cung cấp đầy đủ các dòng sản phẩm của converse bao gồm Chuck Taylor All Star, 
                Chuck 70, One Star, Jack Purcell cùng với nhiều kiểu dáng, màu sắc khác nhau và nhiều dòng sản phẩm khác. 
                Bên cạnh đó, bạn còn có thể tìm thấy những bộ sưu tập đặc biệt, hợp tác với nghệ sĩ, nhạc sĩ, 
                thương hiệu thời trang và các nhân vật nổi tiếng khác.
            </div>
            <img id="img_intro" src="../Public/image/img_intro.jpg" alt="">
            <div class="content">
                Trang web cũng cung cấp nhiều lựa chọn về màu sắc, kiểu dáng và kích cỡ để bạn có thể chọn lựa phù hợp với 
                phong cách của mình. Ngoài ra, converse.com còn có chính sách vận chuyển hàng hóa đến hầu hết các quốc gia 
                trên thế giới và chính sách đổi trả hàng linh hoạt để bạn có thể yên tâm mua sắm sản phẩm.
            </div>

            <h5>Không gian mua sắm đặc trưng tại cửa hàng giày Converse</h5>
            <div class="content">
                Các fan của hãng giày bóng rổ có lẽ đã quá quen thuộc với những cửa hàng giày Converse có không gian mua sắm đầy đủ 
                tiện nghi và được bày trí một cách ngăn nắp, sạch sẽ. Các kệ giày được đính lên tường, trên đó là các mẫu giày từ 
                Classic cho đến những thiết kế mới nhất.
            </div>
            <img id="img_intro" src="../Public/image/image_intro2.jpg" alt="">
            <div class="content">
                Ngoài những nơi treo sản phẩm, không gian mua sắm tại cửa hàng giày Converse cũng được thiết kế theo chủ đề riêng của 
                từng mùa, với những banner đặc sắc mang đậm dấu ấn Converse. Tại đây, bạn hoàn toàn có thể tận hưởng thú vui mua sắm và
                rinh về cho mình những đôi giày chất lừ nhất với thiết kế mới lạ và chất lượng tuyệt hảo.
            </div>


        </div>
        <!-- <div class="menu_right col-3">
            <ul>
            <li><a class="menu_1" href="#">TRANG CHỦ</a> </li>
            <li><a class="menu_1" href="#">CONVERSE</a> </li>
            <li><a class="menu_1" href="#">VANS</a> </li>
            <li><a class="menu_1" href="#">SIZE GUIDE</a></li>
            <li><a class="menu_1" href="#">CHÍNH SÁCH ĐỔI TRẢ</a> </li>
            </ul>
        </div> -->
    </div>

    <script src="js/js.js"></script>

    <br><br><br><br>
    <footer>
        <br>
        
        <div class="row">
            <div class="service col-3">
                <ul id="footer-col-1">
                    <li><a href="">MUA HÀNG</a></li>
                    <li><a href="">ĐỔI TRẢ</a></li>
                    <li><a href="">SHIP HÀNG</a></li>
                    <li><a href="">THANH TOÁN</a></li>
                    <li><a href="">SIZE GUIDE</a></li>
                    <li><a href="">CÁCH CHECK CODE</a></li>
                    <br>
                    <li><a href=""><img src="image/fb.png" alt="" width="35px" height="35px"> FACEBOOK</i></a></li>
                    <li><a href=""><img src="image/instagram.png" alt="" width="35px" height="35px"> INSTAGRAM</a></li>
                    <li><a href=""><img src="image/shopee.jpg" alt="" width="35px" height="35px">SHOPPE</a></li>
                
                </ul>
            </div>
            <div class="service col-3">
                <ul id="footer-col-1">
                    <li><a href="">GIÀY</a></li>
                    <li><a href="">ÁO</a></li>
                    <li><a href="">SALE</a></li>
                    <li><a href="">NAM</a></li>
                    <li><a href="">NỮ</a></li>
                    <li><a href="">CONVERSE</a></li>
                    <li><a href="">VANS</a></li>
    
                </ul>
            </div>
            <div class="service col-3">
                <ul id="footer-col-1">
                    <li><a href="">CONVERSE.STORE_</a></li>
                    <br>
                    <li><a href="">CỬA HÀNG:</a></li>
                    <li><a href="">Số 8, Nguyễn Hoàng Tôn, Xuân La, Tây Hồ, Hà Nội</a></li>
                    <li ><a href=""id="footer-phone-number" style="font-size: 20px; color: #0a5750;">+84 866.866.368</a></li>
                    <br>
                    <li><a href="">BLOG</a></li>
                </ul>
            </div>
            <div class="service col-3">
                <br><br><br>
                <a href="" id="footer-col-4">NHẬN ƯU ĐÃI TỪ CỦA HÀNG:</a>
                <br>
                <input type="email" id="footer-email" value="NHẬP MAIL CỦA BẠN">
                <button id="bt-nhan-ngay"> NHẬN NGAY</button>
            </div>
        </div>
        
    </footer>
</body>
</html>