<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="shortcut icon" href="../Public/image/logo-title.png" type="image/x-icon">
    <link rel="stylesheet" href="../Public/css/style.css">
    <link rel="stylesheet" href="../Public/css/product.css">
    <link rel="stylesheet" href="../Public/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../Public/font/fontawesome-free-6.3.0-web/css/all.min.css">
</head>
<body>
    
    <div id="container">
        
        <div id="header">
            <div class="image_logo">
                <a href=""><img src="../Public/image/store-giay.png" alt="" id="logo"></a>  
            </div>
                
            <ul id="menu-categories-1">
                <li><a href="">TRANG CHỦ</a></li>
                <li><a href="">GIÀY</a></li>
                <li><a href="">CONVERSE</a></li>
                <li><a href="">VANS</a></li>
                <li><a href="">HOT </a></li>
                <li><a href="">BLOG</a></li>
            </ul>
                                       
        </div> 
        <div class="icon-menu">
            <!-- <input type="text" id="search_bar"> -->
            <a href=""></a><i class="fa-sharp fa-solid fa-magnifying-glass" style="color: white;"></i></a>
            <a href=""><i class="fa-regular fa-heart" style="color: white;"></i></a>
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping" style="color: white;"></i></a>
            <a href="" id="price">0/0đ</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-3" id="col-3-1">HÀNG CÓ SẴN CHÍNH HÃNG</div>
        <div class="col-3" id="col-3-2">ĐỔI TRẢ LINH HOẠT</div>
        <div class="col-3" id="col-3-3">SHIP TOÀN QUỐC</div>
    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
<class class="footer">
    <div class="row">
        <div class="col-3">
            <ul id="footer-col-1">
                <li><a href="">MUA HÀNG</a></li>
                <li><a href="">ĐỔI TRẢ</a></li>
                <li><a href="">SHIP HÀNG</a></li>
                <li><a href="">THANH TOÁN</a></li>
                <li><a href="">SIZE GUIDE</a></li>
                <li><a href="">CÁCH CHECK CODE</a></li>
                <br>
                <li><a href=""><img src="../Public/image/fb.png" alt="" width="35px" height="35px"> FACEBOOK</i></a></li>
                <li><a href=""><img src="../Public/image/instagram.png" alt="" width="35px" height="35px"> INSTAGRAM</a></li>
                <li><a href=""><img src="../Public/image/shopee.jpg" alt="" width="35px" height="35px">SHOPPE</a></li>
            
            </ul>
        </div>
        <div class="col-3">
            <ul id="footer-col-1">
                <li><a href="">GIÀY</a></li>
                <li><a href="">ÁO</a></li>
                <li><a href="">SALE</a></li>
                <li><a href="">NAM</a></li>
                <li><a href="">NỮ</a></li>
                <li><a href="">CONVERSE</a></li>
                <li><a href="">VANS</a></li>

            </ul>
        </div>
        <div class="col-3">
            <ul id="footer-col-1">
                <li><a href="">CONVERSE.STORE_</a></li>
                <br>
                <li><a href="">CỬA HÀNG:</a></li>
                <li><a href="">Số 8, Nguyễn Hoàng Tôn, Xuân La, Tây Hồ, Hà Nội</a></li>
                <li ><a href=""id="footer-phone-number" style="font-size: 20px; color: #0a5750;">+84 866.866.368</a></li>
                <br>
                <li><a href="">BLOG</a></li>
            </ul>
        </div>
        <div class="col-3">
            <br><br><br>
            <a href="" id="footer-col-4">NHẬN ƯU ĐÃI TỪ CỦA HÀNG:</a>
            <br>
            <input type="email" id="footer-email" value="NHẬP MAIL CỦA BẠN">
            <button id="bt-nhan-ngay"> NHẬN NGAY</button>
        </div>
    </div>
</class>    
</body>

    
    
    
    

</html>